body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.page-section {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
}

#section1 {
    background-color: #ffe6ec;
}

#section2 {
    background-color: #fff7e6;
}

#section3 {
    background-color: #feffe6;
}
