body {
    font-family: 'Times New Roman', Times, serif;
    margin: 2;
    padding: 2;
}

.page-section {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
}

#section1 {
    background-color: #ffe6ec;
}

#section2 {
    background-color: #fff7e6;
}

#section3 {
    background-color: #feffe6;
}
